
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Add product
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form [formGroup]="productForm" (ngSubmit)="addProduct()" >
                            <div class="form-group row">
                              <label for="title3" class="col-sm-2 col-form-label">Title</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="title3" formControlName="title" placeholder="Title">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="price3" class="col-sm-2 col-form-label">Price</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" id="price3" formControlName="price" placeholder="Price">
                              </div>
                            </div>
                            <div class="form-group row">
                                    <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description" rows="3"></textarea>
                                    </div>  
                            </div>
                            <div class="form-group row">
                                    <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Select File</label>
                                    <div class="col-sm-10">
                                    <input type="file" (change)="onFileSelect($event)" class="form-control-file" id="exampleFormControlFile1"  >
                                     </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Add</button>
                              </div>
                            </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
{{result | json}}