.card-img-top{
    width: 150px;
    height: 125px;
}
.card-body{
    background-color: aliceblue;
    margin-top: -13px;
    border-radius: 4px;
}
div.container-fluid{
    margin-left: 50px;

}
div.row{
    margin-top: 10px;;
}